/* ========== SITE STRUCTURE ========== */
html, body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top right, #FEBE10, #ff9a0c);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#333;
}
.spacer {
    clear: both;
}
h1, h2, h3, h4, h5, h6 {
    color: #482e1f;
}
h1 {
    font-size: 2rem;
}
hr {
    border-style: solid;
    border-width: 0.5px;
}
.container {
    padding: 0 7.5%;
}
header, main, footer {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
header, footer {
    background-color: white;
}
header {
    /* position: fixed; */
    border-bottom: 1px solid #CCC;
}
#navbar {
    height: 70px;
}
.logo {
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle;
}
.logo img {
    max-height: 50px;
}
.site-nav {
    float: right;
    margin: 10px auto;
}
.site-nav ul {
    display: inline-block;
    margin: 10px auto;
    vertical-align: middle;
}
.site-nav li, .site-nav li a {
    display: inline-block;
    margin: 0 0 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-weight: 900;
}
.site-nav li a:hover {
    color: #FEBE10;
}
.search-nav {
    display: none;
    float: left;
    box-sizing: border-box;
    width:100%;
    background: #eff0f2;
}
.search-nav form {
    margin-bottom: 2rem;
    display: flex;
}
.search-nav form .column, .search-nav form .column-end {
    width:19%;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    vertical-align: top;
    font-size: 0.8rem;
}
.search-nav form input[type="submit"] {
    background-color: #FEBE10;
    color: #482e1f;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius:5px;
    border: none;
    margin-top: auto;
}
.search-nav form input[type="submit"]:hover {
    background-color: #482e1f;
    color: #FEBE10;
    cursor: pointer;
}
main {
    padding: 40px auto;
    flex-grow: 1;
}
footer {
    font-size: 0.5rem;
    height: 35px;
    border-top: 1px solid #CCC;
}
/* ========== HOME SECTION STRUCTURE ========== */
.home {
    width:100%;
    box-sizing: border-box;
    display: flex;
    height: calc(100vh - 106px);
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}
.welcome-text {
    width:60%;
}
.welcome-image {
    width:40%;
}
.welcome-image img {
    max-width: 100%;
    max-height: 60vh;
    float: right;
}
.body-img {
    margin: 1.1rem 0;
    max-width: 100%;
}
main .search-prompt {
    background-color: white;
    color: #482e1f;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 1rem;
    padding: 0.5rem 3rem;
    border-radius:5px;
    border: none;
    display: inline-block;
    margin:1.2rem auto;
    width: auto;
}
#search-again {
    font-size: 0.8rem;
    background-color: #FEBE10;
    text-align: center;
    margin:15px;
    max-width: 100%;
    display: block;
}
#search-again:hover {
    background-color: #482e1f;
}
main .search-prompt:hover {
    background-color: #482e1f;
    color: white;
}
/* ========== SEARCH SECTION STRUCTURE ========== */
.search {
    display: none;
    flex-direction: row;
    width:100%;
    height: calc(100vh - 106px);
    background-color:white;
}
.results-bar {
    width:30%;
    flex-wrap: wrap;
    overflow-y: scroll;
    flex-grow: 1;
    box-sizing: border-box;
    font-size: 0.8rem;
}
#result-item h3, #result-item p {
    margin: 0.5rem auto;
}
#result-item {
    padding: 1.5rem;
    border-bottom: 1px solid #eff0f2;
    background-color: white;
}
#result-item:hover {
    background-color: #eff0f2;
}
#result-item a {
    width: 100%;
    display: block;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: #482e1f;
    font-weight: 900;
    font-size: 0.7rem;
}
#result-item a:hover {
    color: #FEBE10;
}
.details {
    width:70%;
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
/* .individual-details {
    display: none;
    flex-direction: column;
} */
.search-no-selection{
    width:100%;
    flex-grow: 1;
    background-image: linear-gradient(to top right, #FEBE10, #ff9a0c);
    padding: 10%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.pub-info {
    width: 50%;
    padding: 2.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(to top right, #FEBE10, #ff9a0c);
    flex-grow: 1;
}
.pub-info h1 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.pub-info a {
    text-decoration: none;
    color: #482e1f;
}
.pub-info a:hover {
    color:white;
}
.hide {
    display: none;
}
.info-address, .info-website, .info-phone {
    font-size: 0.8rem;
    padding-bottom: 0.3rem;
}
.barAddressHolder, .barWebsiteHolder, .barPhoneHolder, .barCrowdHolder, .barDrinksHolder, .barFoodHolder, .barEntHolder {
    display: block;
    width:auto;
    padding-bottom: 0.75rem;
}
.indBarUL ul {
    float: left;
}
.indBarUL li {
    display: inline-block;
}

.indBarUL li:after { 
    content: ", "; 
}
.indBarUL li:last-child:after {
    content: "";
}
.icon-spacer {
    width: 2rem;
    float: left;
    color: #482e1f;
}
.pub-map{
    width: 50%;
    padding: 2.5rem;
    box-sizing: border-box;
    background-color: #eff0f2;
    flex-grow: 1;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    min-height: 100%;
}
.pub-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html, body {
        max-width: 100%;
    }
    .container {
        padding: 5%;
    }
    #navbar {
        text-align: center;
    }
    .logo {
        margin:0 auto;
    }
    .site-nav {
        display: block;
        width: 100%;
    }
    .site-nav ul {
        padding-inline-start: 0px;
        margin: 0;
    }
    .site-nav li a {
        margin: 0 10px 0 0;
    }
    .home {
        height: 100%;
        display: block;
        margin: 0.5rem 0;
    }
    .welcome-text, .welcome-image {
        width: 100%;
        text-align: center;
        display: block;
    }
    main .search-prompt {
        float: none;
    }
    .search-nav form {
        display: block;
    }
    .search-nav form .column {
        width: 48%;
        display: inline-block;
    }
    .search-nav form .column-end {
        width:100%;
        margin-top:20px;
    }
    .welcome-image img {
        float:none;
        display: block;
        margin:10px;
        max-width: 100%;
        padding: 20%;
        box-sizing: border-box;
    }
    .results-bar {
        width: 100%;
        height: auto;
        max-height: 165px;
        display: block;
        border-bottom: 1px solid #eff0f2;
    }
    .search-no-selection {
        text-align: center;
    }
    #result-item {
        padding: 0.5rem 1.5rem;
    }
    #result-item h3, #result-item p {
        margin: 0;
    }
    .search-no-selection, .details, .individual-details, .pub-info, .pub-map {
        width: 100%;
        float:left;
    }
    footer {
        height: auto;
        text-align: center;
    }
} 
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .individual-details {
        width: 100%;
    }
    .pub-map {
        min-height: 50%;
    }

} 